<section class="text-gray-600 body-font">
  <div class="container px-3 py-18 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">NUESTRO EQUIPO DE TERAPEUTAS</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Fernanda Quiroz</h2>
            <h3 class="text-gray-500 mb-3">TERAPEUTA</h3>
            <p class="mb-4">Terapeuta especializada en el área de psicología conductual</p>
            <button class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white">Ver más</button>

          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/201x201">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Johana Rojas</h2>
            <h3 class="text-gray-500 mb-3">TERAPEUTA</h3>
            <p class="mb-4">Terapeuta especializada en el área de psicología conductual.</p>
            <button class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white">Ver más</button>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Alberto Rojas</h2>
            <h3 class="text-gray-500 mb-3">TERAPEUTA</h3>
            <p class="mb-4">Terapeuta especializado en el área de TID en pacientes jóvenes.</p>
<button class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white">Ver más</button>          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Henry Martinez</h2>
            <h3 class="text-gray-500 mb-3">TERAPEUTA</h3>
            <p class="mb-4">Terapeuta especializado en el área de TID en adultos.</p>
            <button class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white">Ver más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

