<mat-toolbar color="primary" class="mat-toolbar-custom">
  <span>Proyecto UCB PSICOLOGIA</span>
  <span class="spacer"></span>
  <span routerLink="/home" class="nav-link">Agendar sesion </span>
  <span routerLink="/features" class="nav-link">Calendario</span>

  <span routerLink="/pricing" class="nav-link">Terapeutas</span>
  <span routerLink="/pricing" class="nav-link">Mis Horarios</span>
  <span routerLink="/pricing" class="nav-link">Terapeutas</span>

 <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

   <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>

