.mat-toolbar-custom {
  background-color: #007bff; /* Color azul */
}

.spacer {
  flex: 1 1 auto;
}

.nav-link {
  cursor: pointer;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
.text-style {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
}

.text-center {
  text-align: center;
  margin-top: 40px;
}

.mat-icon-button {
  background-color: #e6f7ff; /* Fondo celeste */
  border-radius: 50%; /* Bordes redondeados para formar un círculo */
  width: 40px; /* Ancho */
  height: 40px; /* Alto */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px; /* Espacio a la izquierda del botón de notificaciones */
}

.mat-icon {
  color: #007bff; /* Color azul para el icono */
}

