<mat-sidenav-container class="container">
  <!-- Side bar -->
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome-page" (click)="closeSidenav(sidenav)">
        <mat-icon>home</mat-icon>
        <span class="ml-3">Inicio</span>
      </a>
      <a mat-list-item routerLink="/patient-type">
        <mat-icon>person</mat-icon>
        <span class="ml-3">Tipo pacientes</span>
      </a>
      <a mat-list-item routerLink="/career-department">
        <mat-icon>work</mat-icon>
        <span class="ml-3">Carreras Departamento</span>
      </a>
      <a mat-list-item routerLink="/person">
        <mat-icon>person_outline</mat-icon>
        <span class="ml-3">Registro</span>
      </a>
      <a mat-list-item routerLink="/horarios">
        <mat-icon>schedule</mat-icon>
        <span class="ml-3">Horarios</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-3 text-xl">UCB PSICOLOGIA</span>
    </mat-toolbar>

    <!-- Main content here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

