<mat-toolbar color="primary" class="mat-toolbar-custom">
  <span>Proyecto UCB PSICOLOGIA</span>
  <span class="spacer"></span>
  <span routerLink="/home" class="nav-link">Agendar sesion </span>
  <span routerLink="/features" class="nav-link">Calendario</span>

  <span routerLink="/pricing" class="nav-link">Terapeutas</span>
  <span routerLink="/pricing" class="nav-link">Mis Horarios</span>
  <span routerLink="/pricing" class="nav-link">Terapeutas</span>

 <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

   <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>
<!---->
<!-- <div class="container mt-4 text-center"> -->
<!--   <p class="text-style"> -->
<!--     La salud mental es un estado de bienestar mental que permite a las personas hacer frente a los momentos de estrés de la vida, desarrollar todas sus habilidades, poder aprender y trabajar adecuadamente y contribuir a la mejora de su comunidad. Es parte fundamental de la salud y el bienestar que sustenta nuestras capacidades individuales y colectivas para tomar decisiones, establecer relaciones y dar forma al mundo en el que vivimos. La salud mental es, además, un derecho humano fundamental. Y un elemento esencial para el desarrollo personal, comunitario y socioeconómico. -->
<!--   </p> -->
<!-- </div> -->
<router-outlet> </router-outlet>
